<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TOURS_CHERNAEVA_CS" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=TOURS_CHERNAEVA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ToursProject.Properties.Settings.TOURS_CHERNAEVAConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=TOURS_CHERNAEVA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ToursProject.Properties.Settings.TOURS_CHERNAEVAConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=TOURS_CHERNAEVA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>